[Unit]
Description=RFID
After=network.target server.service

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/Pianobaren
ExecStart=/home/pi/Pianobaren/.venv/bin/python3 -u /home/pi/Pianobaren/buttons.py
RestartSec=5

[Install]
WantedBy=multi-user.target

